h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    background-color: #F2BC94;
    border-bottom: black 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  
  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .logo img {
    height: 180px;
    border: black 2px solid;
    border-radius: 100px;
  }
  
  .product-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .product {
    width: 28%;
    margin: 20px;
    border: black 1px solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .product:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product h2 {
    margin: 20px;
    font-size: 24px;
  }
  
  .product p {
    margin: 0 20px 20px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .product span {
    display: block;
    margin-left: 20px;
    margin: 20px 20px 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .product form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .product form input {
    width: 70px;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    text-align: center;
  }
  
  .product form button {
    background-color: #ffbb00;
    border: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .product form button:hover {
    background-color: #FFA41C;
  }
  
  footer {
    background-color: #554310;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
  }
  
  
  .carousel-inner img {
    width: 100%;
    max-height: 360px;
  }
  
  .carousel-inner h1 {
    font-size: 5000;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: black;
  
  }
  
  .carousel-inner h3 {
    font-size: 5000;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    color: black;
    }
  